<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                   http://www.springframework.org/schema/beans/spring-beans.xsd
                                   ">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>


    <bean id="productsListTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="productsListTopic"/>
    </bean>

    <bean id="productsListService" class="pl.edu.amu.dji.jms.lab4.Service.ProductsListService">
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="productsListTopic" ref="productsListTopic"/>
    </bean>

</beans>