<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           ">
    <context:component-scan base-package="pl.edu.amu.dji.jms.lab4.*"/>
    <tx:annotation-driven/>

    <bean id="posProductList" class="pl.edu.amu.dji.jms.lab4.PosProductList"/>

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>


    <!-- communicating sales info to analysis module-->
    <bean id="analysisQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="analysisQueue"/>
    </bean>

    <bean id="salesInfoUpdateService" class="pl.edu.amu.dji.jms.lab4.service.SalesInfoUpdateService">
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="analysisQueue" ref="analysisQueue"/>
    </bean>

    <!-- receiving product list info-->
    <bean id="productsListTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="productsListTopic"/>
    </bean>

    <bean id="productInfoUpdateService" class="pl.edu.amu.dji.jms.lab4.service.ProductInfoUpdateService"/>

    <bean id="messageListenerContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="productInfoUpdateService"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="productsListTopic"/>
    </bean>

</beans>